@model GymManagement.Models.ViewModel.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="module">
    <div class="module-head">
        <h3>Change Password</h3>
    </div>
<div class="module-body">

    <div class="col-md-9">
        <div class="module-body table">


            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

 
                <div class="modal-body">


                    <div class="editor-label">
                        @Html.LabelFor(model => model.OldPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.OldPassword)
                        @Html.ValidationMessageFor(model => model.OldPassword)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.NewPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.NewPassword)
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ConfirmNew)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.ConfirmNew)
                        @Html.ValidationMessageFor(model => model.ConfirmNew)
                    </div>


                </div>
    
                <div class="modal-footer">
                    <h2>@ViewBag.Message</h2>
                    

                    <button type="submit" class="btn btn-primary" name="cmd"><i class="fa fa-check"></i>&nbsp;Change Password</button>
                </div>
            }



            <div>
            </div>
        </div>
    </div>
</div>
    </div>