
@model GymManagement.Models.ViewModel.MemberViewModel

@{
    ViewBag.Title = "DeleteMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DeleteMember", "Member", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <div class="module">
        <div class="module-head">
            <h3>Are You Sure want to Delete Member</h3>
        </div>
        <div class="module-body">
            <fieldset>
                <legend>Delete</legend>
                <div class="form-horizontal col-md-12">
                    <div class="col-sm-6" style="float: left; padding-left: 30px; padding-right: 30px;">
                        <div class="editor-label">
                            @Html.HiddenFor(model => model.UserId)
                        </div>
                        <div class="editor-label">
                            @Html.HiddenFor(model => model.MemberId)
                        </div>
                        <div class="editor-field">
                             <b>Fullname  :</b>@Model.Fullname
                            
                        </div>

                        <div class="editor-label">
                            <b>Email   :</b> @Model.Email
                        </div>
                        <div class="editor-field">
                           
                        </div>

                        <div class="editor-label">
                           <b>Photo   :</b> @Model.Photo
                        </div>
                        <div class="editor-label">
                            <img src="~/MemberPhoto/@Model.Photo" height="200" width="200" />
                        </div>
                        

                        
                        <div class="editor-field">
                           <b>Phone   :</b> @Model.Phone
                        </div>
                        
                    </div>

                </div>
            </fieldset>
            

        </div>
         <div class="modal-footer">
       
        <button type="submit" class="btn btn-primary" name="cmd"><i class="fa fa-check"></i>&nbsp;Delete Member</button>
          
    </div>
    </div>
      
             
   
}
